<h2>Newborn Registration</h2>

<form method="POST">

<h3>Baby Details</h3>
<input name="baby_name" placeholder="Baby Name" required><br><br>
<input type="date" name="dob" required><br><br>

<select name="gender" required>
  <option value="">Gender</option>
  <option>Male</option>
  <option>Female</option>
</select><br><br>

<select name="blood_group" required>
  <option value="">Blood Group</option>
  <option>A+</option><option>A-</option>
  <option>B+</option><option>B-</option>
  <option>AB+</option><option>AB-</option>
  <option>O+</option><option>O-</option>
</select><br><br>

<h3>Parent Details</h3>
<input name="mother_name" placeholder="Mother Name" required><br><br>
<input name="father_name" placeholder="Father Name"><br><br>
<input name="parent_phone" placeholder="Parent Phone" required><br><br>

<h3>Location</h3>
<input name="city" placeholder="City" required><br><br>
<input name="state" placeholder="State" required><br><br>

<button type="submit">Register Newborn</button>
</form>
