<h2>Doctor Registration</h2>

<form method="POST">
  <input name="full_name" placeholder="Full Name" required><br><br>
  <input name="email" type="email" placeholder="Email" required><br><br>
  <input name="license" placeholder="Medical License Number" required><br><br>
  <input name="specialization" placeholder="Specialization" required><br><br>
  <select name="hospital_id" required>
  {% for h in hospitals %}
    <option value="{{ h.id }}">{{ h.name }}</option>
  {% endfor %}
</select>


  <button type="submit">Submit for Verification</button>
</form>
